<body>

<h1><%= @result %> </h1>

<nav>
    <ul>
      <li><a href="/">Return Home</a></li>
    </ul>
</nav>

<a id="gif"href="http://www.gifmania.co.uk/Objects-Animated-Gifs/Animated-Toys/Rock-Paper-Scissors/" target="_blank"><img src="http://www.gifmania.co.uk/Objects-Animated-Gifs/Animated-Toys/Rock-Paper-Scissors/Rock-Paper-Scissors-87021.gif" alt="rock paper scissors - GIFMANIA" /></a>

</body>
