<h1 id="Welcome-Header"> Rock Paper Scissors! </h1>

<body id="Welcome-Background">

  <p> Welcome to ROCK PAPER SCISSORS!  Choose your weapon
    wisely.  When ready player 1 enters their choice in the
    address bar, followed by player 2!<br>e.g rock/scissors</p>

</body>
